.home-main {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}
.home-main .home-title {
  text-align: center;

}
.home-main #post-section {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

body {
  background-image: url(/src/img/pexels-jplenio-1103970.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  background-image: url(/src/img/pexels-zamiir-3308588.jpg);
  ;
}
header .headerTitle-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  color: #4cb5f9;
}
header .headerTitle-container .headerTitle {
  font-size: 34px;
}
header nav {
  width: 50%;
  height: 100%;
}
header nav .nav-list {
  width: 100%;
  height: 100%;
  padding-right: 45px;
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  gap: 30px;
}
header nav .nav-list button {
  padding: 7px 22px;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  background-color: #4cb5f9;
  color: #FFFFFF;
  border-radius: 3px;
}
header nav .nav-list li a {
  text-decoration: none;
  color: #000000;
}

.addPost-main {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;

}
.addPost-main .addPost-title {
  text-align: center;
  margin-bottom: 30px;
  color: #FFFFFF;
}
.addPost-main .form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  height: 430px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 30px;
}
.addPost-main .form-container #addPost-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.addPost-main .form-container #addPost-form .addPost-input {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: 5px solid #d0d0d0;
  padding: 0 10px;
  background: #FFFFFF;
  font-size: 16px;

}
.addPost-main .form-container #addPost-form .addPost-textarea {
  width: 100%;
  height: 90px;
  border-radius: 20px;
  border: 2px solid #d0d0d0;
  padding: 10px;
  background: #FFFFFF;
  font-size: 16px;
  resize: none;
  
}
.addPost-main .form-container #addPost-form .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.addPost-main .form-container #addPost-form .button-container .addPost-button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #096fb4;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}

.post-container {
  width: 28%;
  margin-left: 4%;
  margin-bottom: 3%;
  margin-top: 2%;
  height: 350px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.post-container .img-card {
  width: 100%;
  height: 205px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.post-container .postInfo-container {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post-container .cross-container {
  font-size: 30px;
  top: 10px;
  position: absolute;
  display: none;
  right: 10px;
  color: #d43333;
  cursor: pointer;
  display: block;
}